:root {
  --border-color: #CBD2D6;
  --bg-color: #F5F7FA;
}

.vx_icon-close-small:before {
  content: "\e003";
}

.vx_icon {
  font-family: 'consumer-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 0;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.notificationIcon {
  cursor: pointer;
}

/* Popover */
.Popover {
  z-index: 1200;
  top: 50px !important;
  position: fixed !important;
}

.Popover-body {
  margin-top: -1px;
  padding: 1em;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background: var(--bg-color);
  max-width: 360px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

.Popover-tipShape {
  fill: #f7f7f7;
  stroke: #CBD2D6;
  fill-rule:evenodd;
}

.tab-list {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 0;
}

.left-tab, .right-tab {
  display: inline-block;
  position: relative;
  list-style: none;
  padding: 10px 20px;
  cursor: pointer;
  background: white;
  color: #5a5a5a;
  width: 50%;
  text-align: center;
  white-space: nowrap;
}

.left-tab {
  border-radius: 5px 0 0 5px;
}
.right-tab {
  border-radius: 0 5px 5px 0;
}

.selected-tab {
  background: hsl(210, 65%, 43%);
  color: white;
  font-weight: 400;
}

.panel {
  display: none;
}

.panel ul {
  list-style-type: none;
  padding-left: 0 !important;
  margin-left: 0;
}

.notification {
  list-style-type: none;
  border: 1px solid var(--border-color);
  margin-bottom: 20px;
  border-radius: 5px;
  background: white;
}

.notification_header, .notification_empty_header {
  padding: 10px 20px;
  font-weight: 500;
}

.notification_header {
  height: 40px;
  color: #640487;
}

.notification_empty_header {
  font-size: 20px;
  text-align: center;
}

.notification_header_smc {
  color: #D20000;
}

.notification-dismiss:before {
  width: 20px;
  height: 20px;
  font-size: 20px;
  display: inline-block;
  position: relative;
  top: 10px;
  float: right;
  cursor: pointer;
  color: black;
}

.notification_description, .notification_empty_description {
  padding: 0px 20px 10px 20px;
}

.notification_empty_description {
  text-align: center;
}

.notification_link {
  display: block;
  border-top: 1px solid var(--border-color);
  width: 100%;
  height: 40px;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  color: #0070BA;
  font-weight: bold;
}

.selected-panel {
  display: block;
}

.notification-leave {
  opacity: 1;
}

.notification-leave.notification-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.notification-enter, .notification-appear {
  opacity: 0.01;
}

.notification-enter.notification-enter-active,
.notification-appear.notification-appear-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
